<a href="https://colab.research.google.com/github/Jerohlee/CPEN-21A-CPE-1-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For Loop

In [10]:
letters = ["a", "b", "c", "d", "e", "f", "g"]

for x in letters:
  print(x)

a
b
c
d
e
f
g

#The Break Statement

In [21]:
letters = ["a", "b", "c", "d", "e", "f", "g"]
for y in letters:
  print (y)
  if y == "c":
    break

a
b
c

#Range Function

In [31]:
for x in range (15):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

#Looping through String

In [32]:
for x in "Jeroh Lee":
  print(x)

J
e
r
o
h

L
e
e

#Nested Loop

In [37]:
letter=["a", "b", "c", "d"]
number=[1, 2, 3, 4]

for x in letter:
  for y in number:
    print(x,y)
    if y == 1:
      if x == "d":
        break

a 1
a 2
a 3
a 4
b 1
b 2
b 3
b 4
c 1
c 2
c 3
c 4
d 1

#While Loop

In [40]:
x = 20

while x>0:
  print(x)
  x -= 2

20
18
16
14
12
10
8
6
4
2

#The Break Statement

In [45]:
x = 12

while x > 3:
  print(x)
  if x == 6:
    break
  x -= 2

12
10
8
6

#The Continue Statement

In [44]:
x = 15

while x > 5:
  x -= 3
  if x == 9:
    continue
  print(x)

12
6
3

#The else statement

In [46]:
x = 18

while x > 9:
  x = x-3
  print(x)
else:
  print("The value is no longer greater than 9")

15
12
9
The value is no longer greater than 9

#Application 1

In [47]:
x = ["Value"]
y = 0
for x in x:
  while y <= 10:
    print(x, y)
    y = y + 1

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

#Application 2

In [48]:
x = 15
while x > 5:
  x -= 3
  if x == 3:
    break
  print(x)
else:
  print("The value is no longer greater than 5")

12
9
6